[submodule "third_party/ygopro-core"]
	path = third_party/ygopro-core
	url = https://github.com/edo9300/ygopro-core
[submodule "third_party/CardScripts"]
	path = third_party/CardScripts
	url = https://github.com/ProjectIgnis/CardScripts
	shallow = true
[submodule "third_party/BabelCDB"]
	path = third_party/BabelCDB
	url = https://github.com/ProjectIgnis/BabelCDB
	shallow = true
[submodule "third_party/LFLists"]
	path = third_party/LFLists
	url = https://github.com/ProjectIgnis/LFLists
	shallow = true
